node_modules
.next
out
.env
.env.local
.env.*.local
.vscode
.idea
*.log
npm-debug.log*
.DS_Store
coverage
.turbo
dist
*.tsbuildinfo
docker-compose*.yml
Dockerfile*
.dockerignore
.github
*.md
!README.md
prisma/data/*.db
prisma/migrations/migration_lock.toml
.cache
